li.card-container {
  display: flex;
  flex-direction: row;
  min-width: 168px;
  min-height: 100px;
  margin: 8px;

  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    background: #f9f9f9;

    &:hover {
      box-shadow: #dddddd 4px 4px 8px 0 inset, #ffffff 4px -4px 8px 0 inset;
      transition: box-shadow 500ms;
    }

    &.scale {
      .card-body {
        .value-container {
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 36px;
          min-width: 60px;
          height: 60px;
          color: #ffffff;
          background: #6dd0a5;
        }

        &.temp {
          .value-container .value,
          .max,
          .min {
            &:after {
              content: '°C';
              font-size: 10px;
              font-weight: 500;
            }
          }

          .value-container {
            background: #5448c8;
            font-size: 28px;
          }
        }
      }
    }

    h3.card-title {
      color: #2d2d2d;
      font-size: 14px;
      text-transform: capitalize;
      margin-top: 0;
      margin-bottom: 4px;
    }

    .card-body {
      display: flex;
      width: 100%;

      .value-container {
        font-weight: 700;
        font-size: 40px;
        color: #5448c8;
        text-align: center;
        border-radius: 50%;

        .out-of {
          position: relative;
          font-size: 14px;
          margin-right: 12px;

          &::before {
            content: '/';
            font-size: 16px;
          }

          &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: 0;
            transform: translateX(10px);
            display: block;
            width: 1px;
            height: 36px;
            background: #dddddd;
          }
        }
      }

      .status {
        height: 12px;
        color: #ffffff;
        background: #6dd0a5;
        font-size: 10px;
        text-transform: uppercase;
        border-radius: 4px;
        padding: 2px 8px;
        margin: 5px;

        &:hover {
          box-shadow: #6dd0a5 1px 1px 2px 0, #ffffff 1px -1px 2px 0;
          transition: box-shadow 500ms;
        }
      }

      .data-scale {
        display: flex;
        flex-direction: column;
        margin: 0 10px;
        width: 100%;
        color: #999999;

        .min,
        .max {
          line-height: 18px;
          font-size: 20px;
          font-weight: 700;
          padding: 5px;

          .card-icon {
            display: inline-block;
            width: 12px;
            height: 12px;
            margin: 0 5px;
            background-position: center !important;

            &[attr-size='medium'] {
              background-size: 15px 15px !important;
            }

            &[attr-size='small'] {
              background-size: 10px 10px !important;
            }
          }
        }

        .max {
          border-bottom: 1px solid #dddddd;
        }
      }

      .data-status {
        margin: 0 10px;

        .field-name {
          color: #999999;
          text-transform: capitalize;
          font-size: 10px;
          margin-top: 10px;
        }

        .field-value {
          font-size: 16px;
          color: #2d2d2d;
          font-weight: 700;
        }
      }

      &:not(.temp) .data-scale {
        .max .card-icon[attr-size='medium'] {
          background-position: right top !important;
        }
        .min .card-icon[attr-size='medium'] {
          background-position: left bottom !important;
        }
      }
    }
  }
}
