ul.cards-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  margin: 10px;
  padding: 10px;

  li.card-container {
    display: flex;
    flex-direction: row;
    min-width: 180px;
    min-height: 100px;
    margin: 8px;

    .card {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 100%;
      padding: 10px 12px;
      border-radius: 8px;
      background: #f9f9f9;

      h3.card-title {
        color: #2d2d2d;
        font-size: 16px;
        margin-top: 0;
        margin-bottom: 2px;
      }

      .card-body {
        display: flex;
        width: 100%;

        .value {
          padding: 10px;
          font-size: 36px;
          line-height: 36px;
          text-align: center;
          color: #ffffff;
          font-weight: bold;
          border-radius: 50%;
          background-color: #5448c8;
        }

        .data-indicator {
          display: flex;
          flex-direction: column;
          margin: 0 10px;
          width: 100%;

          .min,
          .max {
            line-height: 18px;
            font-size: 18px;
            font-weight: bold;
            padding: 5px;
          }

          .min {
            border-bottom: 1px solid #c2c2c2;
          }
        }

        .temperature {
          font-size: 10px;
        }
      }
    }
  }
}

// background-color: #6dd0a5;
// background-color: #2d2d2d;
