<ul class="cards-list">
  <li class="card-container" *ngFor="let card of cards">
    <div class="card number">
      <h3 class="card-title">Air Quality</h3>
      <div class="card-body">
        <div class="value">72</div>
        <div class="data-indicator">
          <div class="min">93</div>
          <div class="max">61</div>
        </div>
      </div>
    </div>
  </li>
  <li class="card-container">
    <div class="card temp">
      <h3 class="card-title">Temperature</h3>
      <div class="card-body">
        <div class="value">21<span class="temperature">&#8451;</span></div>
        <div class="data-indicator">
          <div class="min">93<span class="temperature">&#8451;</span></div>
          <div class="max">61<span class="temperature">&#8451;</span></div>
        </div>
      </div>
    </div>
  </li>
  <li class="card-container">
    <div class="card action">
      <h3 class="card-title">Audio</h3>
      <div class="card-body">
        <div class="value">2</div>
        <div class="status">PLAYING</div>
        <div class="field">
          <div class="field-name">Total</div>
          <div class="field-value">5</div>
        </div>
      </div>
    </div>
  </li>
  <li class="card-container">
    <div class="card">
      <h3 class="card-title">Displays</h3>
      <div class="card-body">
        <div class="value">10<span class="out-of">/16</span></div>
        <div class="field">
          <div class="field-name">On Time</div>
          <div class="field-value">00:00</div>
        </div>
      </div>
    </div>
  </li>
  <li class="card-container">
    <div class="card action">
      <h3 class="card-title">Lighting</h3>
      <div class="card-body">
        <div class="value">32</div>
        <div class="status">ON</div>
        <div class="field">
          <div class="field-name">Total</div>
          <div class="field-value">43</div>
        </div>
      </div>
    </div>
  </li>
</ul>
