<ul class="cards-list">
  <li class="card-container" *ngFor="let card of cards">
    <div class="card {{ card.type }}">
      <h3 class="card-title">{{ card.title }}</h3>
      <div
        class="card-body"
        [ngClass]="{ temp: card.data.valueType == 'temp' }"
      >
        <div class="value">
          {{ card.data.value
          }}<span class="out-of" *ngIf="card.data.valueOutOf">{{
            card.data.valueOutOf
          }}</span>
        </div>
        <div *ngIf="card.data.status" class="status">
          {{ card.data.status }}
        </div>
        <div class="data-{{ card.type }}" *ngIf="card.type == 'scale'">
          <div class="max">{{ card.data.maxValue }}</div>
          <div class="min">{{ card.data.minValue }}</div>
        </div>
        <div class="data-{{ card.type }}" *ngIf="card.type == 'status'">
          <div class="field-name">{{ card.data.fieldName }}</div>
          <div class="field-value">{{ card.data.fieldValue }}</div>
        </div>
      </div>
    </div>
  </li>
</ul>
