<ul class="cards-list">
  <li class="card-container">
    <div class="card">
      <h3 class="card-title">Air Quality</h3>
      <div class="card-body">
        <div class="value">72</div>
        <div class="data-indicator">
          <div class="min">93</div>
          <div class="max">61</div>
        </div>
      </div>
    </div>
  </li>
  <li class="card-container">
    <div class="card">
      <h3 class="card-title">Air Quality</h3>
      <div class="card-body">
        <div class="value">72</div>
        <div class="data-indicator">
          <div class="min">93</div>
          <div class="max">61</div>
        </div>
      </div>
    </div>
  </li>
  <li class="card-container">
    <div class="card">
      <h3 class="card-title">Air Quality</h3>
      <div class="card-body">
        <div class="value">72</div>
        <div class="data-indicator">
          <div class="min">93</div>
          <div class="max">61</div>
        </div>
      </div>
    </div>
  </li>
  <li class="card-container">
    <div class="card">
      <h3 class="card-title">Air Quality</h3>
      <div class="card-body">
        <div class="value">72</div>
        <div class="data-indicator">
          <div class="min">93</div>
          <div class="max">61</div>
        </div>
      </div>
    </div>
  </li>
  <li class="card-container">
    <div class="card">
      <h3 class="card-title">Air Quality</h3>
      <div class="card-body">
        <div class="value">72</div>
        <div class="data-indicator">
          <div class="min">93</div>
          <div class="max">61</div>
        </div>
      </div>
    </div>
  </li>
</ul>
